/* stylelint-disable selector-max-id, selector-max-compound-selectors, max-nesting-depth */
.receipt {
  padding: 1em;
}

.receipt-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  &__total-sum {
    font-weight: bold;
  }
}

.receipt-item {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  width: 100%;

  .name {
    line-height: 1;
    font-size: 1em;
    opacity: 0.7;
    white-space: normal;
    width: 100%;
    padding-right: 1em;
  }

  .sum {
    margin-right: auto;
    font-weight: bold;
  }
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::ng-deep {
  @media only screen and (max-width: 640px) {
    .container {
      padding: 0;
    }
  }

  .mat-checkbox {
    width: 100%;

    .mat-checkbox-layout {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .mat-checkbox-label {
        width: 100%;
      }
    }
  }

  #qr-reader {
    border: 1px solid transparent !important;

    > div:first-of-type {
      display: none;
    }

    .html5-qrcode-element {
      position: relative;
      margin-top: 10px;
      padding: 10px;
      overflow: hidden;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
      background-color: var(--light-grey);
      line-height: 1;
    }

    #qr-reader__dashboard_section_csr {
      span {
        font-size: 0;
      }
    }

    #html5-qrcode-button-camera-permission,
    #html5-qrcode-button-camera-stop,
    #html5-qrcode-button-camera-start {
      color: transparent;
      position: relative;
    }

    @mixin replace-text($text) {
      content: $text;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--dark);
    }

    #html5-qrcode-button-camera-permission::after {
      @include replace-text('Использовать камеру');
    }

    #html5-qrcode-button-camera-start::after {
      @include replace-text('Сканировать');
    }

    #html5-qrcode-button-camera-stop::after {
      @include replace-text('Стоп');
    }
  }
}
