/* stylelint-disable max-nesting-depth, selector-class-pattern */
.event-login {
  &__header {
    background-color: var(--light-grey);
    padding: 2em 2em 0;

    .header {
      &__invite {
        .author {
          font-weight: bold;
        }
      }

      &__info {
        display: block;
        margin-top: 1em;
        padding: 2em 0;
      }
    }
  }

  &__selector {
    padding: 1em 2em;

    .selector__members {
      .member_item {
        margin-right: 1em;
        margin-bottom: 1em;

        /* stylelint-disable-next-line selector-max-compound-selectors */
        .add-member-text {
          color: var(--grey);
        }
      }
    }
  }
}
